@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500;1,600&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500;1,600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header{
  
    height: 100px;
    width: 100%;
    display: block;
    background-color: #271c1c;
}
.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
   
}
.logo-container{
    height: 100%;
    display: table;
    float: left;

}

.logo-container a{
    color: #fffcf2e8;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-size: x-large;
   
}

.logo-container h1 span{
    font-weight: 400;
    color:  #60695d;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    color: black;
}


.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
    font-family: 'Poppins';
}
.navigation a li:hover{
    color: #101010;
    font-weight: 600;
   }
   
.navigation a:hover{
    transition: all .8s ease;
    background-color: white;
   }

   .login-button{
    position: absolute;
    top: 75px;
    left: 85%;
    border: none;
    border-radius: 10px;
    padding: 12px 35px;
    font-family: "Poppins";
    font-size: 16px;
    background-color: rgb(255, 255, 255); 
    cursor: pointer; 
}

.login-button a{
    text-decoration: none;
    color: black;
    font-weight:700;
}

.login-button:hover{
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8);
}

.free-shipping{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #f7e5d2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.free{
    font-family: "Poppins";
    font-weight: 500;
}


/* contents  */
.header-container{
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #404d3c;
    color: white;
   
}
.header-container h1{
    position: absolute;
    font-size: 80px;
    top: 40%;
    left: 50%;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    transform: translate(-50%,-50%);
    text-shadow: 4px 4px 0px #017449;
}
.header-container p{
    position: absolute;
    font-size: 24px;
    top: 70%;
    left: 50%;
    font-family: "Montserrat";
    transform: translate(-50%,-50%);
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}


.contents-container{
    position: relative;
    width: 100%;
    height: 700px;
    background-color: #fbf2e8;
    font-family: "Montserrat";
    color: black;
}
.email-contact{
    position: absolute;
    width: 25%;
    height: 400px;
    left: 20%;
    top: 10%;
    color: #20303c;
    font-weight: 100;
}

#first-name{
    height: 45px;
    width: 110%;
    
   
}
#last-name{
   
    height: 45px;
    width: 110%;
    
   
}
#email-address{
    height: 45px;
    width: 105%;
}
#message{
    height: 90px;
    width: 225%;
    resize: none ;
}
#submit{
    height: 40px;
    width:107%;
    background-color: #60695d;
    border: none;
    color: #f9f9f9;
    transition: all 0.5s ease;
    cursor: pointer;
}
#submit:hover{
    background-color: #f9f9f9;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;

}
table,th,tr,td{
    font-weight: 400;
    padding: 10px;
}
.vertical-line{
  
  border-left: 1px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 10%;
  
  
}

.address{
    position: relative;
    
    position: absolute;
    height: 600px;
    width: auto;
    left: 60%;
    top: 10%;
}
.address-text{
    top: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    color: black;
}
.hr{
    position: absolute;
    width: 90%;
    height: 2px;
    left: 50%;
    transform: translate(-50%,0);
   
}
.social-media{
    position: relative;
    top: 90%;
    height: 200px;
    width: 100%;
    margin: 0;
    background-color:#fbf2e8;
}
.icon-links{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
}
.picture-icon{
    position: absolute;
    top: 20%;
    height: 55%;
    border-radius: 20px;  
    transition: .3s ease; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px 
    -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.picture-icon:hover{
    transform: scale(1.1);
    transition: .3s ease; 
}

/*  ENDDD contents / containers */
/* footer */
